[submodule "bundle/Rainbow-Parenthesis"]
	path = bundle/Rainbow-Parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/paredit.vim"]
	path = bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-redl"]
	path = bundle/vim-redl
	url = https://github.com/dgrnbrg/vim-redl.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "airblade/vim-gitgutter"]
	path = airblade/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "sheerun/vim-polyglot"]
	path = sheerun/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "w0rp/ale"]
	path = w0rpl/ale
	url = https://github.com/w0rp/ale.git
